<div class="card">
	<h2>Chave Inglesa</h2>
	<img src="~/chave inglesa.png" alt="Produto X">
	<p>Desenvolvido em material de qualidade, Abertura máxima:34mm.</p>
	<button>R$79,99</button>
</div>
<div class="card">
	<h2>Parafusadeira</h2>
	<img src="~/furadeira.png" alt="Produto X">
	<p>Voltagem: 10.8V, Velocidade: 0-550rpm, Mandril: 10mm.</p>
	<button>R$119,99</button>
</div>
<div class="card">
	<h2>Alicate de corte</h2>
	<img src="~/alicate de corte.png" alt="Produto X">
	<p> Para corte de fios e manutençao em geral.</p>
	<button>R$19,99</button>
</div>
		</div>


<div class="main">
	<div class="card">
		<h2>Alicate</h2>
		<img src="~/alicate-universal-8_4530.png" alt="Produto X">
		<p>alicate em aço e cabo emborrachado.</p>
		<button>Comprar</button>
	</div>

	<div class="card">
		<h2>caixa de ferramentas</h2>
		<img src="~/caixa de ferramentas.png" alt="Produto X">
		<p>Caixa de ferramentas em aço.</p>
		<button>Comprar</button>
	</div>
	<div class="card">
		<h2>Chave de fenda</h2>
		<img src="~/chave de fenda.png" alt="Produto X">
		<p>Chave de fenda para uso em geral.</p>
		<button>Comprar</button>
	</div>
	<div class="card">
		<h2>Morsa/Torno</h2>
		<img src="~/morsa_torno.png" alt="Produto X">
		<p>Martelo com cabo de madeira com cabeça de aço pintado de preto.</p>
		<button>Comprar</button>
	</div>


</div>

	</div>